<head>
    <meta charset="UTF-8" />
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/cadastro.css}" />
</head>

<body>
    <div class="login-container">
        <div class="login-header"></div>

        <form th:action="@{/cadastroUser}" th:method="post" th:object="${usuario}">
            <input type="hidden" th:field="*{id}" />

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" th:field="*{telefone}" placeholder="Telefone" />

            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" placeholder="Email" />

            <label for="senha">Senha:</label>
            <input type="password" id="senha" th:field="*{senha}" placeholder="Senha" />

            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" id="dataNascimento" th:field="*{dataNascimento}" />

            <button class="login-button" type="submit">Salvar</button>
        </form>
        
    </div>
</body>

</html>
