<head>
    <meta charset="UTF-8" />
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/cadastroJogos.css}" />
</head>

<body>
    <div class="login-container">
        <div class="login-header"></div>

        <form th:action="@{/cadastroJogo}" th:method="post" th:object="${jogo}">
            <input type="hidden" th:field="*{id}" />

            <label for="titulo">Título:</label>
            <input type="text" id="titulo" th:field="*{titulo}" placeholder="Título" />

            <label for="plataforma">Plataforma:</label>
            <input type="text" id="plataforma" th:field="*{plataforma}" placeholder="Plataforma" />

            <label for="anoLancamento">Ano de Lançamento:</label>
            <input type="date" id="anoLancamento" th:field="*{anoLancamento}" />

            <label for="historia">História:</label>
            <textarea id="historia" th:field="*{historia}" placeholder="História"></textarea>

            <label for="preco">Preço:</label>
            <input type="number" id="preco" th:field="*{preco}" placeholder="Preço" />

            <label for="requisitosSys">Requisitos do Sistema:</label>
            <input type="text" id="requisitosSys" th:field="*{requisitosSys}" placeholder="Requisitos do Sistema" />

            <button class="login-button" type="submit">Salvar</button>
        </form>
        
    </div>
</body>

</html>
