<h1>ROMA</h1>

    <div class="search-container">
        <form action="/pesquisarUser" method="get" class="search-bar">
            <input type="text" name="id" placeholder="Pesquisar usuários..." />
            <button type="submit">Buscar</button>
        </form>

<h1 th:if="${#lists.size(usuarios) == 0}">Nenhum cadastro</h1>

<div th:if="${#lists.size(usuarios) > 0}">

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Remover</th>
            <th>Editar</th>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.telefone}"></td>
            <td>
                <form th:action="@{/usuario/{id}/deletar(id=${usuario.id})}" th:method="post" style="display: inline;">
                    <button type="submit">Remover</button>
                </form>
            </td>
            <td>
                <form th:action="@{/usuario/{id}/editar(id=${usuario.id})}" th:method="get">
                    <button type="submit">Editar</button>
                </form>
            </td>
        </tr>    
    </table>
    
    <form th:action="@{/DeleteAllUsers}" th:method="get">
        <button type="submit">Limpar lista</button>
    </form>
    <br>
</div>
<a href="/cadastro">cadastrar</a>
